body
{
    color: black;
    text-align: center;
    font-family: courier;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd1;
}

#cabecera
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd1;
}

    